.main-menu {
  background-color: #fff;
  border-bottom: 2px solid #ebedef;
  margin-bottom: 30px;
}
.main-menu__items {
  text-align: justify;
  font-size: 0;

  &:after {
    content : "";
    height: 0;
    width: 100%;
    @include inlineblock();
    visibility: hidden;
  }
}
.main-menu__item {
  @include inlineblock();
  box-sizing: border-box;
}
.main-menu__link {
  outline: none !important;
  line-height: 18px;
  @include inlineblock(middle);
  padding: 18px 16px;
  color: $black;
  @include open-sans(regular);
  font-size: 16px;
  text-decoration: none;
  &:hover {
    background-color: #e4e2e2;
  }
  &.active {
    background-color: $orange;
    color: #fff;
    @include open-sans(semibold);
  }

}