.select2-container {
  width: 160px !important;
  * {
    outline: none !important;
    @include open-sans(light);
    font-size: 14px;
  }
  .select2-selection__arrow {
    b {
      @include get-sprite($misc-sprite, smalldown);
      height: 9px !important;
      width: 13px !important;
      border: 0 none !important;
      margin: auto !important;
      top: 0 !important;
      left: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      margin-right: 7px !important;

    }
  }

  .select2-selection__rendered {
    font-size: 12px;
    @include open-sans(light);
    color : #7f7f7f;
  }
}
.select2-container--open {
  .select2-selection__arrow {
    b {
      @include get-sprite($misc-sprite, smallup);
    }
  }
  .select2-dropdown--below {
    margin-top: 4px;
    @include box-shadow(0 0 4px 0 rgba(134,134,134,0.7));
  }
}
.select2-container--default {
  .select2-results__option--highlighted {
    background-color: inherit !important;
    color: #000 !important;
  }
}
.select2-results__option {
  color : #444 !important;
  background-color: inherit !important;
}